h1{
    font-weight: 100;
    color: #545454;
}
#card_row{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 100px;
    margin-top: 15px;
}
.card{
    min-height: 350px;
}
tr{
    td{
        padding-left: 25px;
        padding-right: 30px;
        font-size: small;
    }
    td:first-child{
        font-weight: bold;
    }
}
#text_card{
    background-color: #f8f8f8;
}
#coat_card{
    h2{
        color: #0b82f1;
    }
}
#coat_wrap{
    margin-top: auto;
    margin-bottom: auto;
}