h1 {
  font-weight: 100;
  color: #545454;
  margin-bottom: 25px;
}

#cities {
  background-color: #f8f8f8;
  padding: 50px;
  margin-bottom: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#cities a {
  color: #545454;
}
