#main_content {
  height: 500px;
  background-color: #0b82f1;
}
@media (max-width: 900px) {
  #main_content h2 {
    font-size: xx-large;
  }
}
@media (max-width: 400px) {
  #main_content h2 {
    font-size: x-large;
  }
}
